body {
  margin: auto;
  max-width: 50em;
  font-family: sans-serif;
  background-color: slateblue;
}

.workout {
  border: 2px solid black;
  border-radius: 20px;
  margin: 1em;
  padding: 0.2em 0.5em;  
  text-align: center;
  vertical-align: middle;
}