html, body {
  height: 100%;
  margin: 0;
}

body {
  margin: auto;
  max-width: 50em;
  font-family: sans-serif;
  color: whitesmoke;
  background: linear-gradient(to bottom right, #241b4e, #110c29);
  background-repeat: no-repeat;
  background-attachment: fixed;  
}

.workout {
  border: 0.5px inset rgb(245, 245, 245);
  border-radius: 20px;
  margin: 1em;
  padding: 0.2em 0.5em;  
  text-align: center;
  vertical-align: middle;
}

.container_user {
    display: flex;
    border: 0.5px inset rgb(245, 245, 245);
    border-radius: 20px;
    margin: 1em;
    padding: 0.2em 0.5em;
    text-align: left;
    vertical-align: middle;
}

.box_user {
    flex: 1;
    margin: 15px;
    padding: 0.2em 0.5em;
    border: 1px solid slateblue;
    border-radius: 10px;
    text-align: left;
    vertical-align: middle;
}

.container_buttons {
    display: flex;
    text-align: left;
}

.box_buttons {
    border: none;
    border-radius: 10px;
    text-align: left;
}


a:link {
  color: rgb(255, 255, 255);
}

a:visited {
  color: rgb(174, 174, 174);
}
