{% extends "layout.html" %}

{% block title %}Frontpage{% endblock %}


{% block content %}




{% if session.username %}

    <h2>Recent workouts</h2>
    <ul>
    {% for workout in workouts %}
        <div class="workout">

        <p></p>
        <a href="/workouts/{{ workout.workout_id }}">{{ workout.time_to_present }}</a> <br />
        <p>Sport: {{ workout.sport_name }}</p>

        User: <a href="/user/{{ workout.user_id }}">{{ workout.username }}</a> <br />

        </div>
    {% endfor %}
    </ul>

    {% if page_count > 1 %}
        <p>
        {% if page > 1 %}
                <a href="/{{ page - 1 }}">&lt;&lt;</a>
            {% else %}
                &lt;&lt;
            {% endif %}
            Page {{ page }}/{{ page_count }}
            {% if page < page_count %}
                <a href="/{{ page + 1 }}">&gt;&gt;</a>
            {% else %}
                &gt;&gt;
        {% endif %}
        </p>
        <hr />
    {% endif %}
    
{% endif %}




{% endblock %}


