{% extends "layout.html" %}

{% block title %}Frontpage{% endblock %}


{% block content %}




{% if session.username %}

    <h2>Recent workouts</h2>
    <ul>
    {% for workout in workouts %}
        <div class="workout">

        <p></p>
        <a href="/workouts/{{ workout.workout_id }}">{{ workout.time_to_present }}</a> <br />
        <p>Sport: {{ workout.sport_name }}</p>

        User: <a href="/user/{{ workout.user_id }}">{{ workout.username }}</a> <br />

        </div>
    {% endfor %}
    </ul>

{% endif %}

{% endblock %}


