<!DOCTYPE html>

<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="/static/style.css">
</head>	

<body>
  <h1>HYBRIDATH-1337</h1>
  
  <p>
    Never miss a workout
  </p>

  {% if session.username %}

  <p>
    You are logged in as user {{ session.username }}
  </p>

  <p>
    <a href="/">Front page</a> |
    <a href="/logout">Log out</a> |
    <a href="/find_workout">Find workout</a> |
    <a href="/user_attributes.html">User settings</a> |
    <a href="/workouts.html">Add workout</a>
  </p>		

  <p>
    
  </p>	

  {% else %}
  <form action="/login" method="post">
  <p>
    User name: <br />
    <input type="text" name="username" />
  </p>
  <p>
    Password: <br />
    <input type="password" name="password" />
  </p>
  <input type="submit" value="Log in" />
  </form>

  <a href="./register.html"><p>Sign up!</p></a>

  {% endif %}

  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class=flashes>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}


  {% block content %}{% endblock %} 

</body>

</html>
