{% extends "layout.html" %}

{% block title %}User {{ user.username }}{% endblock %}

{% block content %}
<h2>User {{ user.username }}</h2>

<div class="container_user">
    <div class="box_user">
        <p>Name: {{ user.first_name }} {{ user.last_name }}</p>
        <p>City: {{ user.city }}, {{ user.region }}, {{ user.country }}</p>
        <p>Favorite sport: {{ user.sport_name }}</p>
    </div>
    <div class="box_user">
        <p>Height: {{ user.height }}</p>
        <p>Weight: {{ user.weight }}</p>
        <p>Date of birth: {{ user.date_of_birth }}</p>
    </div>
    <div class="box_user">
        <p>Most common sport: {{ most_common_sport.sport_name }}, {{ most_common_sport.sport_count }} times</p>
        <p>Most common exercise: {{ most_common_exercise.exercise_name }}, {{ most_common_exercise.exercise_count }} times</p>
    </div>
</div>


<p>
  The user has posted {{ workouts_count }} workouts.
</p>
<h3>Recent workouts</h3>
<ul>

  {% for workout in user_workouts %}
    
    <div class="workout">
    <a href="/workouts/{{ workout.workout_id }}">{{ workout.time_to_present }}</a> <br />
    <p>Begin time: {{ workout.begin_time }}</p>
    <p>Sport: {{ workout.sport_name }}</p>
    <p class="paragraph_comment">Comments: {{ workout.comments | show_lines }}</p>

    {% if session.username == workout.username %}
        <p>
        <form action="/delete_workout" method="post">
            <input type="submit" value="Delete workout"/>
            <input type="hidden" name="workout_id" value="{{ workout.workout_id }}" />
            <input type="hidden" name="source_page" value="user_page.html" />
            <input type="hidden" name="user_id" value="{{ workout.user_id }}" />
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
        </form>
        </p>
    {% else %}
    {% endif %}

    </div>


  {% endfor %}

</ul>

{% if page_count > 1 %}
    <p>
    {% if page > 1 %}
            <a href="/user/{{ user.id }}/{{ page - 1 }}">&lt;&lt;</a>
        {% else %}
            &lt;&lt;
        {% endif %}
        Page {{ page }}/{{ page_count }}
        {% if page < page_count %}
            <a href="/user/{{ user.id }}/{{ page + 1 }}">&gt;&gt;</a>
        {% else %}
            &gt;&gt;
    {% endif %}
    </p>
    <hr />
{% endif %}

{% endblock %}