{% extends "layout.html" %}

{% block title %}User settings{% endblock %}

{% block content %}


<form action="/add_user_data" method="post">
  <p>
    <label for="first_name">First name: </label><br />
    <input type="text" name="first_name" value="{{userdata["first_name"]}}" minlength="2" maxlength="20"/>
  </p>
  <p>
    <label for="last_name">Last name: </label><br />
    <input type="text" name="last_name" value="{{userdata["last_name"]}}" minlength="2" maxlength="40"/>
  </p>
  <p>
    <label for="date_of_birth">Date of birth: </label><br />
    <input type="date" name="date_of_birth" value="{{userdata["date_of_birth"]}}"/>
  </p>
  <p>
    <label for="weight">Weight (kg): </label><br />
    <input type="number" name="weight" value="{{userdata["weight"]}}" min="30" max="300"/>
  </p>
  <p>
    <label for="height">Height (cm): </label><br />
    <input type="number" name="height" value="{{userdata["height"]}}" min="100" max="235"/>
  </p>
  <p>
    <label for="max_heart_rate">Maximum heart rate (bpm): </label><br />
    <input type="number" name="max_heart_rate" value="{{userdata["max_heart_rate"]}}" min="30" max="230"/>
  </p>
  <p>
    <label for="ftp_cycling">FTP (W): </label><br />
    <input type="number" name="ftp_cycling" value="{{userdata["ftp_cycling"]}}" min="50" max="500"/>
  </p>


  <p>
    <label for="fav_sport">Favorite sport:</label> 
    <select name="fav_sport" id="fav_sport">

    {% for sport in sports %}
      {% if userdata["fav_sport_id"] == sport.sport_id %} 
        <option value="{{ sport.sport_id }}" selected>{{ sport.sport_name }}</option>
      {% else %}
        <option value="{{ sport.sport_id }}">{{ sport.sport_name }}</option>
      {% endif %}
    {% endfor %}
    </select>
  </p>

  <p>
    <label for="user_city">City:</label> 
    <select name="user_city" id="user_city">

    {% for city in cities %}
      {% if userdata["city_id"] == city.city_id %} 
        <option value="{{ city.city_id }}" selected>{{ city.city }}</option>
      {% else %}
        <option value="{{ city.city_id }}">{{ city.city }}</option>
      {% endif %}
    {% endfor %}
    </select>
  </p>

  <input type="submit" value="Save user data"/>
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />    
</form>

{% endblock %}
