
{% extends "layout.html" %}

{% block title %}Add workout{% endblock %}

{% block content %}


<form action="/confirm_sport" method="post">
  
  <label for="sport">Choose a sport:</label>

  <select name="sport" id="sport">
  
  {% for sport in sports %}
    {% if not sport_id %} 
      <option value="{{ sport.sport_id }}">{{ sport.sport_name }}</option>
    {% else %}
      {% if sport_id == sport.sport_id %}
        <option value="{{ sport.sport_id }}" selected>{{ sport.sport_name }}</option>
      {% else %}
        <option value="{{ sport.sport_id }}">{{ sport.sport_name }}</option>
      {% endif %}
    {% endif %}
  {% endfor %}
  

  </select>
  <input type="submit" value="Confirm sport"/>
  
</form>


<form form action="/add_row" method="post">

  {% for i in range(0, number_of_exercises) %}

      {% if exercise_details[i] %}

        <!--Tähän nyt sitten kylelle nuo nimet oikein.-->
        <label for="{{ "exercise_" ~ i }}">Choose an exercise:</label> 
        <select name="{{ "exercise_" ~ i }}" id="{{ "exercise_" ~ i }}">

        {% for exercise in exercises %}
          {% if exercise_details[i]["exercise_id"] == exercise.exercise_id %} 
            <option value="{{ exercise.exercise_id }}" selected>{{ exercise.exercise_name }}</option>
          {% else %}
            <option value="{{ exercise.exercise_id }}">{{ exercise.exercise_name }}</option>
          {% endif %}
        {% endfor %}
        </select>

        <label for="{{ "purpose_" ~ i }}">Choose a purpose:</label>
        <select name="{{ "purpose_" ~ i }}" id="{{ "purpose_" ~ i }}">

        {% for purpose in purposes %} 
          {% if exercise_details[i]["purpose_id"] == purpose.purpose_id %} 
            <option value="{{ purpose.purpose_id }}" selected>{{ purpose.purpose_name }}</option>
          {% else %}
            <option value="{{ purpose.purpose_id }}">{{ purpose.purpose_name }}</option>
          {% endif %}          
        {% endfor %}
        </select>       
    
      {% else %}
        <label for="{{ "exercise_" ~ i }}">Choose an exercise:</label>
        <select name="{{ "exercise_" ~ i }}" id="{{ "exercise_" ~ i }}">

        {% for exercise in exercises %} 
          <option value="{{ exercise.exercise_id }}">{{ exercise.exercise_name }}</option>
        {% endfor %}
        </select>

        <label for="{{ "purpose_" ~ i }}">Choose a purpose:</label>
        <select name="{{ "purpose_" ~ i }}" id="{{ "purpose_" ~ i }}">

        {% for purpose in purposes %} 
          <option value="{{ purpose.purpose_id }}">{{ purpose.purpose_name }}</option>
        {% endfor %}
        </select>          
      {% endif %}

    {% if sport_type %}
      {% if exercise_details[i] %}
        {% if sport_type == "Strength" %}
        
          <p>
            Sets: <br />
            <input type="number" name="{{ "sets_" ~ i }}" value="{{ exercise_details[i]["sets"] }}"/>
          </p>

          <p>
            Reps: <br />
            <input type="number" name="{{ "reps_" ~ i }}" value="{{ exercise_details[i]["reps"] }}"/>
          </p>

          <p>
            Weight: <br />
            <input type="number" name="{{ "weight_" ~ i }}" value="{{ exercise_details[i]["weight"] }}"/>
          </p>

        {% else %}
          <p>
            Minutes: <br />
            <input type="number" name="{{ "minutes_" ~ i }}" value="{{ exercise_details[i]["minutes"] }}"/>
          </p>

          <p>
            Average hr: <br />
            <input type="number" name="{{ "avghr_" ~ i }}" value="{{ exercise_details[i]["avghr"] }}"/>
          </p>

          <p>
            Kilometers: <br />
            <input type="number" name="{{ "kilometers_" ~ i }}" value="{{ exercise_details[i]["kilometers"] }}"/>
          </p>

        {% endif %}

      {% else %}

        {% if sport_type == "Strength" %}
        
          <p>
            Sets: <br />
            <input type="number" name="{{ "sets_" ~ i }}" value=""/>
          </p>

          <p>
            Reps: <br />
            <input type="number" name="{{ "reps_" ~ i }}" value=""/>
          </p>

          <p>
            Weight: <br />
            <input type="number" name="{{ "weight_" ~ i }}" value=""/>
          </p>

        {% else %}
          <p>
            Minutes: <br />
            <input type="number" name="{{ "minutes_" ~ i }}" value=""/>
          </p>

          <p>
            Average hr: <br />
            <input type="number" name="{{ "avghr_" ~ i }}" value=""/>
          </p>

          <p>
            Kilometers: <br />
            <input type="number" name="{{ "kilometers_" ~ i }}" value=""/>
          </p>

        {% endif %}          
      
      {% endif %} 

    {% endif %}

  {% endfor %}
  <input type="submit" value="Confirm exercise"/>

</form>

<form action="add_workout" method="post">
  <p>
    Begin time: <br />
    <input type="datetime-local" name="begin_time" />
  </p>
  <p>
    End time: <br />
    <input type="datetime-local" name="end_time" />
  </p>
  <p>
    Athlete comment: <br />
    <textarea name="comments" rows="5" cols="40"></textarea>
  </p>
  <input type="submit" value="Save workout"/>
</form>


{% endblock %}
