
{% extends "layout.html" %}

{% block title %}Add workout{% endblock %}

{% block content %}

<div class="container_buttons">
  <div class="box_buttons">
    <form action="/confirm_sport" method="post">
    
    <label for="sport">Choose a sport:</label>

    <select name="sport" id="sport">
    
    {% for sport in sports %}
      {% if not sport_id %} 
        <option value="{{ sport.sport_id }}">{{ sport.sport_name }}</option>
      {% else %}
        {% if sport_id == sport.sport_id %}
          <option value="{{ sport.sport_id }}" selected>{{ sport.sport_name }}</option>
        {% else %}
          <option value="{{ sport.sport_id }}">{{ sport.sport_name }}</option>
        {% endif %}
      {% endif %}
    {% endfor %}
    

    </select>
    <input type="submit" value="Confirm sport"/>
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
  </form>
  </div>

  <div class="box_buttons">
    <form action="/reset_workout" method="post">
      <input type="submit" value="Reset workout"/>
    </form>
  </div>
</div>

<form form action="/add_row" method="post">

  {% for i in range(0, number_of_exercises) %}

      {% if exercise_details[i|string] %}

        <!--Tähän nyt sitten kylelle nuo nimet oikein.-->
        <label for="{{ "exercise_" ~ i }}">Choose an exercise:</label> 
        <select name="{{ "exercise_" ~ i }}" id="{{ "exercise_" ~ i }}">

        {% for exercise in exercises %}
          {% if exercise_details[i|string]["exercise_id"] == exercise.exercise_id %} 
            <option value="{{ exercise.exercise_id }}" selected>{{ exercise.exercise_name }}</option>
          {% else %}
            <option value="{{ exercise.exercise_id }}">{{ exercise.exercise_name }}</option>
          {% endif %}
        {% endfor %}
        </select>

        <label for="{{ "purpose_" ~ i }}">Choose a purpose:</label>
        <select name="{{ "purpose_" ~ i }}" id="{{ "purpose_" ~ i }}">

        {% for purpose in purposes %} 
          {% if exercise_details[i|string]["purpose_id"] == purpose.purpose_id %} 
            <option value="{{ purpose.purpose_id }}" selected>{{ purpose.purpose_name }}</option>
          {% else %}
            <option value="{{ purpose.purpose_id }}">{{ purpose.purpose_name }}</option>
          {% endif %}          
        {% endfor %}
        </select>       
    
      {% else %}
        <label for="{{ "exercise_" ~ i }}">Choose an exercise:</label>
        <select name="{{ "exercise_" ~ i }}" id="{{ "exercise_" ~ i }}">

        {% for exercise in exercises %} 
          <option value="{{ exercise.exercise_id }}">{{ exercise.exercise_name }}</option>
        {% endfor %}
        </select>

        <label for="{{ "purpose_" ~ i }}">Choose a purpose:</label>
        <select name="{{ "purpose_" ~ i }}" id="{{ "purpose_" ~ i }}">

        {% for purpose in purposes %} 
          <option value="{{ purpose.purpose_id }}">{{ purpose.purpose_name }}</option>
        {% endfor %}
        </select>          
      {% endif %}

    {% if sport_type %}
      {% if exercise_details[i|string] %}
        {% if sport_type == "Strength" %}
        
          <p>
            Sets: <br />
            <input type="number" name="{{ "sets_" ~ i }}" value="{{ exercise_details[i|string]["sets"] }}"/>
          </p>

          <p>
            Reps: <br />
            <input type="number" name="{{ "reps_" ~ i }}" value="{{ exercise_details[i|string]["reps"] }}"/>
          </p>

          <p>
            Weight: <br />
            <input type="number" name="{{ "weight_" ~ i }}" value="{{ exercise_details[i|string]["weight"] }}"/>
          </p>

        {% else %}
          <p>
            Minutes: <br />
            <input type="number" name="{{ "minutes_" ~ i }}" value="{{ exercise_details[i|string]["minutes"] }}"/>
          </p>

          <p>
            Average hr: <br />
            <input type="number" name="{{ "avghr_" ~ i }}" value="{{ exercise_details[i|string]["avghr"] }}"/>
          </p>

          <p>
            Kilometers: <br />
            <input type="number" name="{{ "kilometers_" ~ i }}" value="{{ exercise_details[i|string]["kilometers"] }}"/>
          </p>

        {% endif %}

      {% else %}

        {% if sport_type == "Strength" %}
        
          <p>
            Sets: <br />
            <input type="number" name="{{ "sets_" ~ i }}" value=""/>
          </p>

          <p>
            Reps: <br />
            <input type="number" name="{{ "reps_" ~ i }}" value=""/>
          </p>

          <p>
            Weight: <br />
            <input type="number" name="{{ "weight_" ~ i }}" value=""/>
          </p>

        {% else %}
          <p>
            Minutes: <br />
            <input type="number" name="{{ "minutes_" ~ i }}" value=""/>
          </p>

          <p>
            Average hr: <br />
            <input type="number" name="{{ "avghr_" ~ i }}" value=""/>
          </p>

          <p>
            Kilometers: <br />
            <input type="number" name="{{ "kilometers_" ~ i }}" value=""/>
          </p>

        {% endif %}          
      
      {% endif %} 

    {% endif %}

  {% endfor %}
  {% if number_of_exercises == 0%}
    <input type="submit" value="Add exercise"/>
  {% else %}
    <input type="submit" value="Confirm exercise"/>
  {% endif %}
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
</form>

<form action="add_workout" method="post">
  <p>
    Begin time: <br />
    <input type="datetime-local" name="begin_time" />
  </p>
  <p>
    End time: <br />
    <input type="datetime-local" name="end_time" />
  </p>
  <p>
    Athlete comment: <br />
    <textarea name="comments" rows="5" cols="40"></textarea>
  </p>
  <input type="submit" value="Save workout"/>
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
</form>


{% endblock %}
