{% extends "layout.html" %}


{% block title %}{{ workout_sport }}{% endblock %}

{% block content %}
<h2>Workout: {{ workout_sport }}</h2>

<div class="container_user">
    <div class="box_user">
        <p>Sport: {{ workout_sport }}</p>
        <p>Begin time: {{ workout_begin_time }}</p>
        <p>End time: {{ workout_end_time }}</p>
    </div>
    <div class="box_user">
        <p>Athlete: <a href="/user/{{ workout_user_id }}">{{ workout_user }}</a></p>
        <p>Athlete comment: {{ workout_comment }}</p>
        {% if session.username == workout_user %}
        <div class="container_buttons">
          <form action="/delete_workout" method="post">
            <input type="hidden" name="workout_id" value="{{ workout_id }}" />
            <input type="hidden" name="source_page" value="workout_page.html" />
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
            <input type="submit" value="Delete workout"/>
          </form>
          <form action="/edit_workout" method="post">
            <input type="hidden" name="workout_id" value="{{ workout_id }}" />
            <input type="hidden" name="sport_id" value="{{ workout_sport_id }}" />
            <input type="hidden" name="source_page" value="workout_page.html" />
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
            <input type="submit" value="Edit workout"/>
          </form>
        </div>
        {% endif %}
    </div>
</div>

<p>
  The workout consisted of {{ workout_data | count }} exercises.
</p>
<h3>Exercises in workout</h3>
<ul>
  {% for exercise in workout_data %}
    <div class="workout">
      <p>{{ exercise.exercise_name }}</p>
      {% if exercise.sport_type == "Strength" %}
        <p>Purpose: {{ exercise.purpose_name }}</p>
        <p>Sets: {{ exercise.sets }}</p>
        <p>Reps: {{ exercise.reps }}</p>
        <p>Weight: {{ exercise.weight }}</p>
      {% else %}
        <p>Purpose: {{ exercise.purpose_name }}</p>
        <p>Average heart rate: {{ exercise.avg_hr }}</p>
        <p>Minutes: {{ exercise.minutes }}</p>
        <p>Kilometers: {{ exercise.kilometers }}</p>
      {% endif %}
    </div>
  {% endfor %}

</ul>

<h4>Comments related to this workout</h4>
<ul>
{% if previous_comments %}
  {% for comment in previous_comments %}
    <li>
      <strong><a href="/user/{{ comment.user_id }}">{{ comment.username }}</a></strong> at {{ comment.timestamp }}<br>
        <ul>
          <li><p>{{ comment.content }}</p></li>
        </ul>
    </li>
  {% endfor %}
{% endif %}
</ul>

<form action="/add_comment" method="post">
  <p>
    Comment workout: <br />
    <textarea name="comment_content" rows="5" cols="40"></textarea>
  </p>
  <input type="submit" value="Add comment"/>
  <input type="hidden" name="workout_id" value="{{ workout_id }}" />
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
</form>

{% endblock %}